<form action="/links" method="post">
  <label for="url">
    url
    <input type="text" name="url" id='url'>
  </label>
  <label for="title">
    Title
    <input type="text" name="title" id='title'>
  </label>
  <label for="tag">
    Tag
    <input type="text" name="tags" id='tag'>
  </label>
  <input type="submit" value="Create link">
</form>
