<h1> Hi! Welcome to Ainsley and Hugo's app! We like exclamation marks and stuff!! </h1>
<h2> Thank you for visiting!!! </h2>

<form action="/login" method="post">
  <label for="user">
    User
    <input type="text" name="user" id='user'>
  </label><br>
  <label for="password">
    Password
    <input type="password" name="password" id='password'>
  </label>
  <input type="submit" value="Submit">
</form>

<h3> <a href='/links'> Check out our links and stuff!!! </a> </h3>
